@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-full max-w-[1280] mx-auto h-screen  py-5 px-4;
  }
  .select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-3xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .center {
    @apply flex justify-center items-center;
  }
  .col {
    @apply flex flex-col;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
