@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-full max-w-[1280] mx-auto h-screen  py-5 px-4;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
